# symfony generated
/web/bundles/
/web/css
/web/js
/web/app
/web/config
/app/bootstrap.php.cache
/app/data
/app/cache
/app/logs
/app/config/parameters.yml
/app/phpunit.xml

# vendor files
vendor

# composer files
composer.lock
composer.phar

# misc generated
bin/
build/
artefacts/
phpdoc/

# ide files
.settings
.project
.idea
.buildpath
nbproject

# temp/os files
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
$RECYCLE.BIN
Desktop.ini
._*
*~
*.lock
*.swp
*.out
