# testing key
key.ini

# vendor files
vendor

# composer files
composer.lock
composer.phar

# misc generated
build/

# ide files
.settings
.project
.idea
.buildpath
nbproject

# temp/os files
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
$RECYCLE.BIN
Desktop.ini
._*
*~
*.lock
*.swp
*.out
